/* Text Colors */
.text-primary {
  color: #1e3a8a;
}
.text-secondary {
  color: #696d7f;
}
.text-white {
  color: #ffffff;
}

.text-indigo-900 {
  color: #4c1d95;
}

/*  Background Colors */
.bg-primary {
  background-color: #f5f3ff;
}
.bg-white {
  background-color: #ffffff;
}
.btn-bg-primary {
  background-color: #4218ff;
}
.border-primary {
  border-color: #d1d5db;
}

.bg-indigo-600{
  background-color: #4c51bf;
}
