/* Text Colors */
.text-primary {
  color: #1e3a8a;
}
.text-secondary {
  color: #000000;
}
.text-white {
  color: #ffffff;
}

/*  Background Colors */
.bg-primary {
  background-color: #f5f3ff;
}
.bg-white {
  background-color: #ffffff;
}
.btn-bg-primary {
  background-color: #4f46e5;
}
.border-primary {
  border-color: #d1d5db;
}
