/* We should create our color palette in this file with text-primary-color, bg-primary-color, border-primary-color, etc. */
/* Text Colors */
.text-indigo-900 {
  color: #1e3a8a;
}
.text-gray-500 {
  color: #696d7f;
}
.text-white {
  color: #ffffff;
}

/*  Background Colors */
.bg-violet-50 {
  background-color: #f5f3ff;
}
.bg-white {
  background-color: #ffffff;
}
.bg-indigo-600 {
  background-color: #4218ff;
}

/* Border Colors */
.border-zinc-300 {
  border-color: #d1d5db;
}
