@import url("layout.css");
@import url("spacing.css");
@import url("typography.css");
@import url("colors.css");
@import url("responsive.css");
@import url("thamindu.css");

/* Override default styles */
body {
  margin: 0;
  padding: 0;
}
button {
  all: unset;
}
button:focus {
  outline: revert;
}
input {
  all: unset;
}
input:focus {
  outline: revert;
}
