.text-thamindu{
    color: brown;
}

.width-40 {
    width: 40%;
}

.supervisor-thamindu {
    margin: 0 10%;
}

.py-10p {
    padding-top: 10%;
}
.py-20p {
    padding-top: 20%;
}
.py-30p {
    padding-top: 30%;
}
.py-40p {
    padding-top: 40%;
}
.py-50p {
    padding-top: 50%;
}
.py-60p {
    padding-top: 60%;
}

.margin-auto {
    margin: auto;
}

.hb-20p {
    height: 20px;
    bottom: 20px;
}
