td{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
td:hover{
    background-color: #DFF6FF ;
}

th{
    padding: 10px;
    background-color: #f4f7fe;
}

.active{
    background-color: #DFF6FF;
}

.meeting{
    background-color: #FFD700;
}

.deadline{
    background-color: #FF6347;
}

.goal{
    background-color: #90EE90;
}