.login_container {
  width: 500px;
}

.side_image {
  width: 400px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .login_container {
    width: 100%;
  }
  .side_image {
    display: none;
  }
}
