/* General Styles */
body {
    background-color: #f4f7fe;
    margin: 0;
    padding: 0;
    font-family: "DMSans", sans-serif;
}

.layout-container {
    display: flex; /* Align children (blocks) horizontally */
    height: 200vh; /* Full viewport height */
}

.block-2 {
    width: 75%;
    border-radius: 15px;
    flex: 1; /* Allow block-2 to take remaining space */
    background-color: #f4f7fe;
    padding: 6px; /* Padding inside block-2 */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.block-2-middle-1 {
    display: flex;
    width: 100%;
}

.to-do,
.in-progress,
.review,
.done {
    width: 25%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px ;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.card-1 {
    background-color: #3b82f6;
}

.card-2 {
    background-color: #f59e0b;
}

.card-3 {
    background-color: #ef4444;
}

.card-4{
    background-color: #10b981;
}

.task {
    border-radius: 5px;
    padding: 10px 0px ;
    margin: 10px;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
}

.task h3 {
    margin-left: 10px;
    margin-top: 5px;
    color: #260e93;

}

.task p {
    margin-left: 10px;
    margin-right: 5px;
    color: #a3aed0;
}


@font-face {
    font-family: "DMSans";
    src: url("../../fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }