/* General Styles */
body {
    background-color: #f4f7fe;
    margin: 0;
    padding: 0;
    font-family: "DMSans", sans-serif;
}

.layout-container {
    display: flex; /* Align children (blocks) horizontally */
    height: 200vh; /* Full viewport height */   
}

.block-2 {
    width: 75%;
    border-radius: 15px;
    flex: 1; /* Allow block-2 to take remaining space */
    background-color: #f4f7fe;
    padding: 6px; /* Padding inside block-2 */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.block-2-header {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Vertically center items */
    background-color: #f4f7fe;
    padding:10px 0px 20px 0px;
}

.block-2-header h1 {
    margin: 0;
    color: #4318FF;
}

/* profile contents in inside of  block-2-header left side contents */

.profile {
    display: flex;
    align-items: center; /* Center profile content vertically */
}

.profile-detail {
    margin-right: 10px; /* Space between text and picture */
}

.profile-detail h3 {
    margin: 0;
    padding-left: 70px;
    color: #A3AED0;

}

.profile-detail h1 {
    margin: 0;
    margin-left: 110px;
}

.profile img {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Circular profile picture */
    cursor: pointer;
}

.block-2-maincontent-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.block-2-maincontent-1-card-1,
.block-2-maincontent-1-card-2,
.block-2-maincontent-1-card-3,
.block-2-maincontent-1-card-4 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 25%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border-radius: 15px;
    padding: 20px 0px; /* Optional padding */
    margin: 10px 8px; /* Optional margin for spacing between cards */
    height: 40px; /* Adjust height as needed */
}

.block-2-maincontent-1-card-1,
.block-2-maincontent-1-card-4 {
    color: white;
    background-color: #3e36d7
}

.block-2-maincontent-1-card-2,
.block-2-maincontent-1-card-3 {
    background: white;
}

.block-2-maincontent-2 {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
}


.block-2-maincontent-2-card-1,
.block-2-maincontent-2-card-2 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.block-2-maincontent-2-card-1 {
    width: 67%;
}

.block-2-maincontent-2-card-1 h2{
    text-align: center;
}

.block-2-maincontent-2-card-2 {
    width: 28%;
    padding-left: 20px;
}

.block-2-maincontent-2-card-2 button {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: #4318FF;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.block-2-maincontent-2-card-2 button:hover {
    background-color: #4318FF;
    color: white;
}

/* container that holds each event */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* represent each event */
.task {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.task-name {
    font-weight: 700;
    color: black;
}

.task-detail {
    color: #a3aed0;
}

.block-2-maincontent-3 {
    display: flex;
    justify-content: space-around;
}

.block-2-maincontent-3-card-1, .block-2-maincontent-3-card-2{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.block-2-maincontent-3-card-1 {
    width: 67%;
}

.block-2-maincontent-3-card-1 h2{
    text-align: center;
}

.block-2-maincontent-3-card-2 {
    width: 28%;
    padding-left: 20px;

}

.block-2-maincontent-3-card-2 button {
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: #4318FF;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.block-2-maincontent-3-card-2 button:hover{
    background-color: #4318FF;
    color: white;
    
}

/* container that holds each event */
.events {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* represent each event */
.event {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.event-name {
    font-weight: 700;
    color: black;
}

.event-date {
    color: #a3aed0;
}


@font-face {
    font-family: "DMSans";
    src: url("../../fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }




/* this is styles when we click on profile pic and popup screen */
.popup-profile {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    border-radius: 10px;
}

.popup-profile-close {
    margin-left: 520px;
    cursor: pointer;
}

.popup-profile-detail{
    display: flex;
}

.popup-profile-block-1{
    width: 100px;
    text-align: center;
}

.popup-profile-block-1 img {
    
}

.popup-profile-block-2{
    width: 350px;
    text-align: center;
}

#CurrentSpeed, #finishedTasks {
    width: 95%; /* Smaller width inside the container */
    height: 200px; /* Smaller height */
    display: block;
    margin: 0 auto; /* Center the canvas */
    margin-bottom: 50px;
}