/* We should create our color palette in this file with text-primary-color, bg-primary-color, border-primary-color, etc. */
/* Text Colors */
.text-primary-color {
  color: #260e93;
}
.hover\:text-primary-color:hover {
  color: #260e93;
}
.text-secondary-color {
  color: #a3aed0;
}
.text-warning-color {
  color: #f59e0b;
}
.text-danger-color {
  color: #ef4444;
}
.hover\:text-secondary-color:hover {
  color: #a3aed0;
}
.text-white {
  color: #ffffff;
}
.hover\:text-white:hover {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.hover\:text-black:hover {
  color: #000000;
}

/*  Background Colors */
.bg-primary-color {
  background-color: #f4f7fe;
}
.bg-white {
  background-color: #ffffff;
}
.btn-primary-color {
  background-color: #4318ff;
}
.hover\:btn-primary-color:hover {
  background-color: #4318ff;
}

/* Border Colors */
.border-primary-color {
  border-color: #d1d5db;
}
