/* We should create our color palette in this file with text-primary-color, bg-primary-color, border-primary-color, etc. */
/* Text Colors */
.text-primary-color {
  color: #260e93;
}
.hover\:text-primary-color:hover {
  color: #260e93;
}
.text-secondary-color {
  color: #a3aed0;
}
.text-warning-color {
  color: #f59e0b;
}
.text-danger-color {
  color: #ef4444;
}
.hover\:text-secondary-color:hover {
  color: #a3aed0;
}
.text-white {
  color: #ffffff;
}
.hover\:text-white:hover {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.hover\:text-black:hover {
  color: #000000;
}

.text-blue {
  color: #3b82f6;
}
.hover\:text-blue:hover {
  color: #14428d;
}

.text-gray {
  color: #6b7280;
}

/*  Background Colors */
.bg-primary-color {
  background-color: #f4f7fe;
}
.bg-white {
  background-color: #ffffff;
}
.bg-green {
  background-color: #10b981;
}
.bg-red {
  background-color: #ef4444;
}
.bg-yellow {
  background-color: #f59e0b;
}
.bg-blue {
  background-color: #3b82f6;
}
.bg-light-blue {
  background-color: #93c5fd;
}
.bg-gray {
  background-color: #d1d5db;
}
.bg-light-gray {
  background-color: #f3f4f6;
}
.bg-purple{
  background-color: #b8aaf3;
}
.bg-light-purple {
  background-color: #E9E3FF;
}
.bg-indigo {
  background-color: #818cf8;
}

/* Button Colors */
.btn-primary-color {
  background-color: #4318ff;
}
.hover\:btn-primary-color:hover {
  background-color: #4318ff;
}
.btn-secondary-color {
  background-color: #a3aed0;
}
.hover\:btn-secondary-color:hover {
  background-color: #a3aed0;
}


/* Border Colors */
.border-primary-color {
  border-color: #d1d5db;
}



/* Shadow Colors */
.shadow {
  box-shadow: 0 0 10px 0 rgba(219, 234, 254, 1);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(219, 234, 254, 1), 0 2px 4px -1px rgba(219, 234, 254, 1);
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(219, 234, 254, 1), 0 4px 6px -2px rgba(219, 234, 254, 1);
}
.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(219, 234, 254, 1), 0 10px 10px -5px rgba(219, 234, 254, 1);
}